%h1 Listing tweets

%table
  %tr
    %th Status
    %th Position
    %th Song
    %th
    %th
    %th

  - @tweets.each do |tweet|
    %tr
      %td= tweet.status
      %td= tweet.position
      %td= tweet.song
      %td= link_to 'Show', tweet
      %td= link_to 'Edit', edit_tweet_path(tweet)
      %td= link_to 'Destroy', tweet, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Tweet', new_tweet_path
