.container.content
  - if @song
    %h1#song_title Who picked #{link_to @song.name_and_artist, @song}
  - else
    %h1 Player Listing

%table.table.table-striped
  %tr
    %th Name
    %th Date submitted
    %th QTY Picked
    %th # songs
    %th Score
    - if current_user.admin? && !@song
      %th

  - @users.each do |user|
    %tr
      %td= link_to_if current_user.locked?, user.display_name_and_submitted, user_selections_path(user), id: "show_selections"
      %td= date_display_list user.updated_at
      %td.right
        - if user.selections.length > 0
          = link_to_if((can? :show, user), pluralize(user.selections.length, 'selection'), user_selections_path(user))
      %td.right= user.songs.where(position: 1..100).length
      %td.right= user.score
      - if current_user.admin? && !@song
        %td.actions
          .actions#remove_user= link_to "Delete", user_path(user), :method => :delete, :class => 'btn btn-mini btn-danger', id: "delete_link"

%br
- if can?(:add, User) && @song.nil?
  = link_to 'New User', new_user_path, id: "new_link"
