.container.content
  %p#notice= notice

%p
  %b Name:
  = @user.name
%p
  %b email:
  = @user.email

- if can? :show, @user
  = link_to "Selected Songs", user_selections_path(@user)

%p
  - if can? :update, @user
    = link_to 'Edit', edit_user_path(@user), id: "edit_link"
