= form_for @song do |f|
  -if @song.errors.any?
    #error_explanation
      %h2= "#{pluralize(@song.errors.count, "error")} prohibited this song from being saved:"
      %ul
        - @song.errors.full_messages.each do |msg|
          %li= msg

  %p
    %b Name:
    = @song.name
  %p
    %b Artist:
    = @song.artist
  .field
    = f.label :position
    = f.number_field :position
  .actions
    = f.submit 'Save'
