%h1 Listing songs

= link_to 'New Song', new_song_path
%br

= form_for @search do |f|
  = f.label :name_contains, "Name"
  = f.text_field :name_contains
  %br
  = f.label :artist_contains, "Artist"
  = f.text_field :artist_contains
  = f.submit "Search"

= paginate @songs

%table
  %tr
    %th Name
    %th Artist
    %th Position

  - @songs.each do |song|
    %tr
      %td= link_to song.name, song
      %td= song.artist
      %td= song.position
      - if @song_ids.include? song.id
        %td= link_to "Remove", selection_path(song), :method => :delete
      - else
        %td= link_to "Add", song_selections_path(song), :method => :post

%br


= paginate @songs