%h1 Pick your Songs

.navbar
  .navbar-inner
    = form_for @search, :html => { :class => 'navbar-form' } do |f|
      = f.text_field :name_contains, :placeholder => 'Name of song'
      = f.text_field :artist_contains, :placeholder => 'Artist'
      = f.submit "Filter list", :class => 'btn'

%table.table.table-striped
  %tr
    %th= sort_link @search, :name
    %th= sort_link @search, :artist
    - if current_user.locked?
      %th Position
      - if current_user.locked?
        %th#picks_title Picks
    - else
      %td

  - @songs.each do |song|
    %tr
      %td= link_to_if(current_user.admin?, song.name, edit_song_path(song), id: "song_link")
      %td= song.artist
      - if current_user.locked?
        %td.center= song.position
        - if current_user.locked?
          %td.center#picks_data
            - if song.selections.length > 0
              = link_to pluralize(song.selections.length, 'person', 'people'), song_users_path(song)
      - unless current_user.locked?
        - if @song_ids.include? song.id
          %td.actions= link_to 'Unpick', selection_path(song), :method => :delete, :class => 'btn btn-mini btn-danger', id: "change_pick"
        - else
          %td.actions= link_to_unless current_user.max_selections, 'Pick', song_selections_path(song), :method => :post, :class => 'btn btn-mini btn-success', id: "change_pick"

= paginate @songs