%h1 Songs

.navbar
  .navbar-inner
    = form_for @search, :html => { :class => 'navbar-form' } do |f|
      = f.text_field :name_contains, :placeholder => 'Name of song'
      = f.text_field :artist_contains, :placeholder => 'Artist'
      = f.submit "Filter list", :class => 'btn'

%table.table.table-striped
  %tr
    %th Name
    %th Artist
    %th Position
    - if current_user.display_picks
      %th#picks_title Picks
    %td

  - @songs.each do |song|
    %tr
      %td= link_to song.name, song
      %td= song.artist
      %td.center= song.position
      - if current_user.display_picks
        %td.center#picks_data
          - if song.selections.length > 0
            = link_to pluralize(song.selections.length, 'person', 'people'), song_users_path(song)

      - if @song_ids.include? song.id
        %td.actions= link_to 'Unpick', selection_path(song), :method => :delete, :class => 'btn btn-mini btn-danger'
      - else
        %td.actions= link_to_unless current_user.max_selections, 'Pick', song_selections_path(song), :method => :post, :class => 'btn btn-mini btn-success'

= paginate @songs