%p#notice= notice

%p
  %b Name:
  = @song.name
%p
  %b Artist:
  = @song.artist
%p
  %b Position:
  = @song.position

%p
  %b Picked by:
  - if current_user.display_picks
    = link_to "#{@song.selections.length} users", song_users_path(@song)
  - else
    Not Available until you lock your selections

- if can? :update, @song
  = link_to 'Edit', edit_song_path(@song), id: "edit_link"
