%p#notice= notice

%p
  %b Name:
  = @song.name
%p
  %b Artist:
  = @song.artist
%p
  %b Position:
  = @song.position

%p
  %b Picked by:
  = link_to "#{@song.selections.length} users", song_users_path(@song)


= link_to 'Edit', edit_song_path(@song)
