%h2 Triplej Hottest 100 Tipping Comp
.textarea
  %h3 What is it?
  What started as a bit of fun each year between a couple of friends with *cough* an excel spreadsheet *cough*, is now online!
  So, you register below and pick 40 songs that you think will poll the best on the day, not necessarily 'your' favourites.

%h3 Scoring
.textarea
  You get 1 point if a song pick comes in at position 100, working through to 100 points for the number 1 song.
  You also select one of your 40 picks to be the song that you think will be number 1.  The pick that scores the highest gets 50
  additional points.  Should there be more than one person who picks the same song, all will get 50 points
%p
  .textarea
    You can make your selections over any number of days, but as soon as you submit your picks, you can't change them!  As you then
    get to see everyone else's picks.

    You can check out the full listing by
    %a{ :href => 'https://docs.google.com/file/d/0B5YpmZvL193jSWE0Y2JVWldZb28/edit' }
      song
    or
    %a{ :href => 'https://docs.google.com/file/d/0B5YpmZvL193jZjQ5ZlhPNVVZRjQ/edit' }
      artist
    and hear the tracks on
    %a{ :href => 'http://open.spotify.com/user/triple.j.abc/playlist/3xbVLD7QASeqUcol6bnqip' }
      Spotify
    or
    %a{ :href => 'http://www.rdio.com/people/triplej/playlists/1870242/Hottest_100_2012_Candidates/' }
      Rdio.

%p
  .textarea
    Sign up, and have some fun!  Feel free to pass on the link to your friends, though this was a quick hack, and can hopefully
    handle more than 3 users :)  There will be more functionality added during the week to compare your picks with others.
%p
  .textarea
    Beware BETA code warning!!! Things will no doubt break, and we are running on a free server, so shoot me an email if you have any issues, or wish to see something added to sean [at] kiiii [dot] com

.modal.full-height
  = form_for resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => 'form-horizontal' } do |f|
    .modal-header
      %h3 Sign in
    
    .modal-body
      .control-group
        = f.label :email, :class => 'control-label'
        .controls
          = f.email_field :email
      
      .control-group
        = f.label :password, :class => 'control-label'
        .controls
          = f.password_field :password
          .help-block
            = link_to "Need to reset your password?", new_password_path(:user)
      
      - if devise_mapping.rememberable?
        .hide
          = f.check_box :remember_me
          = f.label :remember_me
    
    .modal-footer
      = f.submit "Sign in", :class => 'btn btn-primary'
      = link_to 'Sign up', new_user_registration_path, :class => 'btn'

.textarea
  We currently have the #{User.count} good people ready to play. They are, in order of their stage name:
%p
  #{User.order("name").map(&:name).join(", ")}
.credits
  Site hacked together by Nigel and Sean, with UI enhancements by Nathan
