%h1 Listing selections
%span#selection_qty= "#{@selections.length} of #{Selection::SELECTION_QTY}"
%table
  %tr
    %th Song
    %th Number one

  - @selections.each do |selection|
    %tr
      %td= selection.song.name
      %td
        - if selection.number_one
          ***************
        - elsif current_user == @user
          = link_to "set", selection, :method => :put, :id => "set_number_one"
      - if current_user == @user
        %td#remove_song= link_to "Remove", selection_path(selection.song_id), :method => :delete
%br
