-if @user
  %h1#user_heading= "Selections for #{@user.name}"

- if @user && @user != current_user && current_user.locked?
  %h4#same_selections_header= "You have #{(@user.selections.map(&:song_id) & current_user.selections.map(&:song_id)).count} song selections the same"

%table.table.table-striped
  %tr
    %th Song
    %th Number one
    %th Position
    %th Points
    - if current_user.locked?
      %th#picks_heading Picks
    %th
    
  - @selections.each do |selection|
    %tr
      %td= link_to selection.song.name + " (" + selection.song.artist + ")", song_users_path(selection.song)
      %td
        - if selection.number_one
          %b #1 Pick
        - elsif current_user == @user && !current_user.locked?
          = link_to "Set as #1", selection, :method => :put, :id => "set_number_one", :class => 'btn btn-mini'
      %td
        =selection.song.position
      %td
        =selection.song.points
      - if current_user.locked?
        %td.center#picks_data
          - if selection.song.selections.where(number_one: selection.number_one).length > 0
            = link_to pluralize(selection.song.selections.where(number_one: selection.number_one).length, 'person', 'people'), song_users_path(selection.song)
      %td.actions
        - if current_user == @user && !current_user.locked?
          .actions#remove_song= link_to "Unpick", selection_path(selection.song_id), :method => :delete, :class => 'btn btn-mini btn-danger', id: "remove_pick"
        - if @user && @user != current_user && current_user.locked?
          -if current_user.selections.map(&:song_id).include?(selection.song_id)
            #same_selections_row="You picked"