%h1= "Selections for #{@user.name}"

%table.table.table-striped
  %tr
    %th Song
    %th Number one
    - if current_user.locked?
      %th#picks_heading Picks
    %th
    
  - @selections.each do |selection|
    %tr
      %td= link_to selection.song.name + " (" + selection.song.artist + ")", song_users_path(selection.song)
      %td
        - if selection.number_one
          %b #1 Pick
        - elsif current_user == @user && !current_user.locked?
          = link_to "Set as #1", selection, :method => :put, :id => "set_number_one", :class => 'btn btn-mini'
      - if current_user.locked?
        %td.center#picks_data
          - if selection.song.selections.length > 0
            = link_to pluralize(selection.song.selections.length, 'person', 'people'), song_users_path(selection.song)
      %td.actions
        - if current_user == @user && !current_user.locked?
          .actions#remove_song= link_to "Unpick", selection_path(selection.song_id), :method => :delete, :class => 'btn btn-mini btn-danger', id: "remove_pick"